@model FYP.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutTextChecker.cshtml";

}



<body class="login" style="background-image: url('../../Images/2.jpg');">

    <div class="pre-loader">
        <div class="loading-img"></div>
    </div>



    <div class="main">
        <div class="form-box">
            <div class="form-head">


              
                <div class="txt">Sign Up </div>

            </div>

            <div class="form-body">



                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()

                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })




                    <div class="form-group">
                        <label>Email Address</label>
                        <div class="input-group">
                            <div class="input-group-addon icon-mail"></div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>

                        <div class="input-group">
                            <div class="input-group-addon icon-lock"></div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>

                        <div class="input-group">
                            <div class="input-group-addon icon-lock"></div>

                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </div>

                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }


            </div>

        </div>
    
        </div>
</body>